export HUBOT_SLACK_TOKEN="xoxb-xxxx"
export FILE_BRAIN_FILE="data/brain.json"
export HUBOT_AUTH_ADMIN="mose"
export HUBOT_LOG_LEVEL="info"
export HUBOT_BASE_URL="http://localhost:8080/"
export IP_WATCHER=""

# Gitter
export HUBOT_GITTER2_TOKEN=""
export HUBOT_GITTER2_TESTING_ROOMS=""

# shell
export SHELL_ROLE="admin"
export SHELL_ROOM=""

# irc
export HUBOT_IRC_SERVER="irc.freenode.net"
export HUBOT_IRC_ROOMS="#hubot-bot"
export HUBOT_IRC_NICK="eslogger"
export HUBOT_IRC_UNFLOOD=50
export HUBOT_IRC_DEBUG="true"

# elsaticsearch
export ES_LOG_ROOMS="#hubot-bot"
export ES_LOG_ES_URL="http://localhost:9200/"
# export ES_LOG_KIBANA_URL="http://localhost/"
# export ES_LOG_KIBANA_TEMPLATE="irclogger"
export ES_LOG_INDEX_NAME="irclog"
export ES_LOG_ENABLED="true"
